
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root, .app, html{
  min-height: 100vh;
  height: 100%;
}

body{
  background-color: #272727;
  line-height: 1.4;
  position: relative;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: rgb(49, 49, 49);
  overflow-x: hidden
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  font-size: 11px;
  color: rgb(139, 139, 139);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 150;
  width: 100%;
  background: rgba(0, 0, 0, .70) url(components/layout/header_bg.jpg);
  background-size: cover;
  background-position:  -3rem center;
  background-blend-mode: hue;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  padding: 0 3rem;
}

h1 {
  text-align: center;
}

.header-title {
  color: #ff652f
}

.header-logo {
  position: absolute;
  left: 1.5rem;
  cursor: pointer;
}

.btn-submit {
  cursor: pointer;
  background-color: #14a76c;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 1rem;
  margin: 1rem 0 2rem;
  padding: 0.625rem;
  width: 15rem;
  border-radius: 1rem;
}

.btn-submit:hover {
  background-color: #0f7c50;
}

.nutrition-submitted {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 3rem 1rem;
  margin-left: 10vh;
  margin-right: 10vh;
  grid-template-areas: 'form response';
}
.nutrition {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 3rem 1rem;
  margin-left: 10vh;
  margin-right: 10vh;
  grid-template-areas: 'form';
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #858585 url('./components/videos/cover.png') no-repeat center center/cover;
  z-index: -1;
}

/* .video-container video {

} */

.video-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
}

.nut-form {
  grid-column: 1/2;
  grid-area: form;
  align-items: center;
  justify-items: center;
}

.nut-response {
  grid-column: 2/3;
  grid-area: response;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nut-title {
  margin: 2rem 0 2rem 0;
  color: #858585;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nut-form-label {
  justify-items: top;
  color: #858585;
}

.text-ingr {
  overflow: auto;
  height: 8rem;
  width: 30rem;
  resize: none;
}

.text-ingr-submitted{
  height: 8rem;
  width: 30rem;
  resize: none;
  animation: textareaExit 2s ease forwards 1s;
}

.form-ingr:focus::placeholder {
  color: transparent;
}

.nut-calories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem 0 3rem;
}

.nut-calories-text {
  font-weight: bold;
  text-align: center;
  color: #858585
}

.nut-daily {
  color: #858585
}

.nut-claims {
  background-color: #f4f3fd;
  width: 40%;
  padding: 5px 0.625rem 5px 0.625rem;
  margin: 0.5rem 0 0.5rem 0;
  min-width: 300px;
  text-transform: capitalize;
  text-align: center;
}

.nut-nutTable {
  background-color: #f4f3fd;
  width: 40%;
  padding: 5px;
  min-width: 300px;
}

.nut-nutTable-row-fats{
  margin: 0px 10px;
  background-color: #eae7ff;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  display: block;
}

.nut-nutTable-row-carbs{
  margin: 0px 10px;
  background-color: #eae7ff;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  display: block;
}

.nut-nutTable-row-protein{
  margin: 0px 10px;
  background-color: #eae7ff;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  display: block;
}

.nut-nutTable-Fat-row ,.nut-nutTable-Carbs-row ,.nut-nutTable-Protein-row,.nut-nutTable-Water-row  {
  font-weight: bold;
  margin: 5px;
  background-color: #dbd6fd;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
}

.nut-nutTable-Fat-row:hover ,.nut-nutTable-Carbs-row:hover ,.nut-nutTable-Protein-row:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.nut-nutTable-quantity {
  padding-right: 1.5rem;
  display: inline;
  float: right;
}

.nut-nutTable-label   {
  display: inline;
  padding-left: 1.5rem;
}

.badge {
  padding-left: 10px;
}


@media (max-width: 1300px)
{
  .header {
     height: 4.5rem;
     font-size: 15px;
  }
  .nutrition, .nutrition-submitted {
    margin: 0 5vh;
  }
}

@media (max-width: 1000px)
{
  .header {
    height: 4rem;
    font-size: 14px;
 }
  .text-ingr, .text-ingr-submitted{
    width: 25rem;
  }
}

@media (max-width: 900px)
{
  .nutrition, .nutrition-submitted{
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-areas: 'form' 'response';
  }   
}

@media (max-width: 700px)
{
  /*header*/
  .header {
    height: 3.5rem;
 }
  .header-title {
    display: none;
  }
  .text-ingr, .text-ingr-submitted{
    width: 20rem;
  }
}
@media (max-width: 400px)
{
  .nutrition, .nutrition-submitted{
    padding: 0;
    padding-bottom: 3rem;
  }  
  .video-container video {
    height: min-content;
    width: min-content;
  }
}

@keyframes textareaExit{
    0%{
      opacity: 1;
    }
    25%{
      opacity: 0.75;
    }
    50%{
      opacity: 0.5;
    }
    75%{
      opacity: 0.25;
    }
    100%{
      display: none;
      opacity: 0;
      height: 0;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.loader > span {
  background-color: purple;
  border-radius: 50%;
  margin: 5rem 0.6rem;
  animation: bouncingLoader 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color:hotpink;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  background-color: darkorange;
  animation-delay: 0.4s;
}

@keyframes bouncingLoader {
  from {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 1;
    transform: translate3d(0);
  }
  to {
    width: 1rem;
    height: 1rem;
    opacity: 0.5;
    transform: translate3d(0, -1rem, 0);
  }
}