
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root, .app, html{
  min-height: 100vh;
  height: 100%;
}

body {
  background-color: #272727;
  line-height: 1.4;
  position: relative;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  color: rgb(49, 49, 49);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  font-size: 11px;
  color: rgb(139, 139, 139);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.footer > a {
  margin-left: 5px;
  color: #ffe400;
}

.footer > p {
  text-align: center;
}

.badge {
  padding-left: 10px;
  padding-right: 10px;
  height: 26px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 15;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  animation: headerShow 1s ease-in-out forwards
}

.header.faded { 
  animation: headerFade 1s ease-in-out forwards
}

.header-logo {
  position: absolute;
  left: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.header-logo:hover{
  transform: scale(1.1, 1.1);
}

.btn-submit {
  cursor: pointer;
  background-color: #14a76c;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 1rem;
  padding: 0.625rem;
  width: 15rem;
  border-radius: 1rem;
  outline: none;
}

.btn-submit:hover {
  background-color: #0f7c50;
}

.nutrition {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10rem, auto) 1fr;
  row-gap: 2rem;
  margin-left: 15vh;
  margin-right: 15vh;
  grid-template-areas: 'title title' 'form form';
  padding-bottom: 3rem;
}

.nutrition.submitted {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'title title' 'form response';
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #c8c8c8 url('./components/videos/cover.png') no-repeat center center/cover;
  z-index: -1;
}

.video-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
}

.bg_video{
  width: inherit;
  height: inherit;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(0.2);
}

.bg_video.hidden {
  opacity: 0;
  filter: brightness(0.3);
  transition: all, 2s ease-in-out;
}

.bg_video.shown {
  opacity: 1;
  filter: brightness(1);
  transition: all, 2s ease-in-out;
}

.line-divider {
  margin: 2px 0;
  height: 3px;
  width: 100%;
}

.line-divider > rect {
  color: #272727;
  height: 3px;
  width: 100%;
}

.nut-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #c8c8c8;
  grid-area: title;
  justify-content: center;
}

.help-popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
}

.help-inner {
  background:rgb(240, 240, 240);
  width: 50rem;
  max-width: calc(100% - 60px);
  margin: auto;
  display: flex;
}

.help-text {
  padding: 1.5rem;
  padding-right: 0.5rem;
}

.help-text > p {
  margin-bottom: 1rem;
}

.help-text > li {
  margin-left: 2rem;
  line-height: 1.5rem;
  padding-bottom: 5px;
}

.help-exitBtn {
  background-color: transparent;
  display: block;
  height: 2.5rem;
  min-width: 3rem;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  color: #272727;
}

.help-exitBtn:hover {
  background-color: #ada1fdd3;
}

.nut-title > h1 {
  margin: 0.75rem 0;
}

.nut-form {
  grid-column: 1/2;
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c8c8c8;
}

.search-form-wrapper {
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0.375rem 0;
}

.nut-help {
  align-items: center;
  display: flex;
  color: #c8c8c8;
  cursor: pointer;
}

.nut-help-icon {
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
}

.nut-form-label {
  margin-right: auto;
  color: #c8c8c8;
  margin-bottom: 0.25rem;
}

.nut-form-label.hidden {
  animation: labelHide 1s ease-in forwards 1s;
}

.text-ingr {
  overflow: auto;
  height: 8rem;
  width: 30rem;
  resize: none;
  font-size: large;
  margin-bottom: 1rem;
}

.text-ingr.submitted{
  animation: textareaHide 1.5s ease-in forwards 1.5s;
}

.text-ingr:focus::placeholder {
  color: transparent;
}

.nut-ingredient-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #f4f3fd;
  width: 40%;
  min-width: 300px;
  padding: 0.5rem;
  visibility: hidden;
  animation: ingredientsShow 2s ease forwards 2.5s;
}

.nut-ingredient-list-title {
  font-weight: bold;
}

.nut-ingredient-list-content {
  display: flex;
  justify-content: center;
  background-color: #e3e0fa;
  padding: 4px 6px;
  margin-top: 4px;
  font-weight: bold;
}

.nut-response {
  grid-column: 2/3;
  grid-area: response;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: smoothResponseLoad 0.5s ease-in forwards
}

.nut-calories {
  display: flex;
  flex-direction: column;
  color: #c8c8c8;
}

.nut-calories-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nut-calories-labels {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nut-calories-labels > p {
  margin-right: 0.375rem;
  margin-left: 0.375rem;
}
.nut-calories-labels > svg {
  margin-left: 0.375rem;
}

.nut-calories-text {
  font-weight: bold;
  text-align: center;
  color: #c8c8c8
}

.nut-claims {
  display: flex;
  flex-direction: column;
  background-color: #f4f3fd;
  width: 40%;
  padding: 5px 0.625rem;
  margin: 0.5rem 0;
  margin-top: 2rem;
  min-width: 300px;
  text-transform: capitalize;
}

.nut-claims-title {
  margin-right: auto;
  font-weight: bold;
}

.nut-nutTable {
  background-color: #f4f3fd;
  width: 40%;
  padding: 5px;
  min-width: 300px;
}

.nut-nutTable-row{
  min-height: 2rem;
  margin: 0px 10px;
  background-color: #e3e0fa;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.nut-nutTable-row.Fat, .nut-nutTable-row.Carbs, .nut-nutTable-row.Protein, .nut-nutTable-row.Water{
  min-height: 2.25rem;
  font-weight: bold;
  margin: 5px;
  background-color: #d6d0fd;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
}

.nut-nutTable-row.Fat:hover ,.nut-nutTable-row.Carbs:hover ,.nut-nutTable-row.Protein:hover {
  background-color: #ada1fd;
  cursor: pointer;
}

.nut-nutTable-quantity {
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  margin-left: auto;
}

.nut-nutTable-label   {
  display: inline;
  padding-left: 1.5rem;
}

.nutTable-row_arrow {
  margin: 0 0.75rem
}

.nutTable-row_arrow.rotate {
  transform: rotate(-180deg);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.loader > span {
  background-color: #14a76c;
  border-radius: 50%;
  margin: 5rem 0.6rem;
  animation: bouncingLoader 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color:#ffe400;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  background-color: #ff652f;
  animation-delay: 0.4s;
}

@media (max-width: 1300px)
{
  .header {
     height: 4.5rem;
     font-size: 15px;
  }
  .nutrition, .nutrition.submitted {
    margin: 0 5vh;
  }
}

@media (max-width: 1000px)
{
  .header {
    height: 4rem;
    font-size: 14px;
 }
  .text-ingr, .text-ingr.submitted{
    width: 25rem;
  }
}

@media (max-width: 900px)
{
  .nutrition, .nutrition.submitted{
    margin: 0;
  }
  .text-ingr, .text-ingr.submitted{
    width: 22rem;
  }
}

@media (max-width: 700px)
{
  .nutrition, .nutrition.submitted{
    grid-template-columns: 1fr;
    grid-template-areas: 'title' 'form' 'response';
  }   
  .nutrition {
    grid-template-areas: 'title' 'form';
  }
  .header {
    height: 3.5rem;
 }
  .header-title {
    display: none;
  }
  .text-ingr, .text-ingr.submitted{
    width: 20rem;
  }
  .footer {
    padding: 0 0.5rem;
  }
}
@media (max-width: 400px)
{
  .nutrition, .nutrition.submitted{
    padding: 0;
    padding-bottom: 3rem;
  }  
  .text-ingr, .text-ingr.submitted{
    width: 16rem;
  }
  .btn-submit {
    width: 12rem;
  }
  .header-logo{
    left: 1rem
  }
  .badge {
    height: 20px;
  }
}

@keyframes textareaHide{
    0%{
      opacity: 1;
    }
    25%{
      opacity: 0.75;
    }
    50%{
      opacity: 0.5;
    }
    75%{
      opacity: 0.25;
    }
    100%{
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0;
  }
}

@keyframes labelHide{
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes headerFade {
  from {
    opacity: 1;
  }
  to { 
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes headerShow {
  from {
    opacity: 0;
  }
  to { 
    opacity: 1;
    visibility: visible;
  }
}

@keyframes ingredientsShow {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes smoothResponseLoad {
  from{ 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bouncingLoader {
  from {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 1;
    transform: translate3d(0);
  }
  to {
    width: 1rem;
    height: 1rem;
    opacity: 0.6;
    transform: translate3d(0, -1rem, 0);
  }
}